*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: url("default-pattern.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: left top;
  background-size: auto;
}

.container{
  width: 70vw;
  background-color: red;
  margin: 25px auto;
  position: relative;
}

.header{
  width: 100%;
  background: url("header.jpg");
  height: 220px;
  background-size: cover;
  background-repeat: repeat;
  border: 15px solid white;
  text-align: center;
  color: white;
}

.header p{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#title-header{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3em;
}

#subtitle-header{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 2
}

.nav-bar{
  background-color: #504741;
  color: #999999;
  position:absolute;
  width: 100%
}

.nav-bar ul{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  cursor: pointer;
}

.nav-bar ul li:not(:last-child){
  line-height: 35px;
  display: inline;
  border-right: 1px solid lightgrey;
  color: rgba(255, 255, 255, 0.7);
  padding: 0px 10px 0px 10px;

}

.nav-bar ul li:last-child{
  line-height: 35px;
  display: inline;
  margin-right: 20px;
  padding: 0px 10px 0px 10px;
  color: rgba(255, 255, 255, 0.7);
}

.nav-bar ul li:hover{
  background-color: red;
}

.container-body{
  width: 70vw;
  background-color: red;
  margin: 50px auto;
}

.colonna{
  background: white;
  padding: 15px;
}

.colonna-sx{
  width: 20%;
  float: left;
  margin-right: 20px;
}

.colonna-sx img{
  width:10%;
  float: left;
}

.colonna-sx h4{
  line-height: 25px;
}

.colonna-sx ul{
  list-style-type: none;
  color: green;
  line-height: 25px;
}

.centro{
  width: 50%;
  float: left;
  margin-right: 20px;
}

.centro p, h1{
  margin-top: 10px;
}

.colonna-dx{
  width: 27%;
  float: left;
  background: white;
  margin-bottom: 35px;
}

.interno-colonna-dx{
  width: 100%;
  margin-top: 25px;
  background: white;
}

.interno-colonna-dx ul{
  list-style-type: none;
  line-height: 25px;
}
